<div class="glide" id="{{type}}">
    <div data-glide-el="track" class="glide__track">

        <ul class="glide__slides">
            {{#each results}}
            <li class="glide__slide"><img src={{this.poster_path}}><br>{{this.title}}</li>
            {{/each}}
        </ul>

    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
</div>