<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{{poster_path}}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{overview}}</p>
        <a href="{{homepage}}" class="btn btn-primary">Website</a>
    </div>
</div>