<div class="container mt-5">
    <h2>Now Playing</h2>
    {{> ./carouselTemplate.handlebars nowPlayingCarouselContext }}
    <h2 class="mt-2">Popular</h2>
    {{> ./carouselTemplate.handlebars popularCarouselContext }}
    <h2 class="mt-2">Top Rated</h2>
    {{> ./carouselTemplate.handlebars topRatedCarouselContext }}
</div>