<!DOCTYPE html>
<div lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
  <div style="max-width:1368px;margin: 0 auto;">
        <nav class="navigation">
                <ul class="navigation">
                    <li><a href="/"><img  class="logo" src="static/assets/logo.png"></a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        
        <!-- <style>
                .indent-1 {float: left;}
                .indent-1 section {width: 400px; top: 50%; left: 50%; float: left;}
            </style>
            
            <section class="indent-1">
                
                    <img id="foto" src="foto.png">
                    <img id="aj" src="annajaniszewska.png">
                </section>
            
                
                <section>
                    <img src="ramkacontact.png">
                    
                </section>
            </section> -->

            <div id="wrapper1">
                <div id="one" class="box1">
                    <img id="foto" src="static/images/foto.png">
                    <img id="aj" src="static/images/annajaniszewska.png">
                </div> 
                <div id="two" class="box2">

                  <div class="containercontact">
                    <img id="ramka" src="static/images/ramkacontact.png" >
                    <div class="centered" id="aboutme"><p>I’m UX Researcher with cognitive science background. 
                        I’m also passionate about Service Design and UX/UI Design. 
                        In the free time I like to code, make music, and do some modeling.</p><p>Contact me: anna.k.janiszewska@gmail.com</p></div></div>
                    
                </div>

            </div>
            <div class="centertext">
              <button class="button"><a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="246" height="98" viewBox="0 0 246 98">
                  <defs>
                    <filter id="LIGHT" x="0" y="0" width="236" height="85" filterUnits="userSpaceOnUse">
                      <feOffset dx="-6" dy="-6" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="5" result="blur"/>
                      <feFlood flood-color="#f7f7f7" flood-opacity="0.8"/>
                      <feComposite operator="in" in2="blur"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                    <filter id="DARK" x="10" y="13" width="236" height="85" filterUnits="userSpaceOnUse">
                      <feOffset dx="7" dy="7" input="SourceAlpha"/>
                      <feGaussianBlur stdDeviation="5" result="blur-2"/>
                      <feFlood flood-opacity="0.2"/>
                      <feComposite operator="in" in2="blur-2"/>
                      <feComposite in="SourceGraphic"/>
                    </filter>
                  </defs>
                  <g id="Component_31_1" data-name="Component 31 – 1" transform="translate(18 21)">
                    <g id="Component_1_163" data-name="Component 1 – 163">
                      <g transform="matrix(1, 0, 0, 1, -18, -21)" filter="url(#LIGHT)">
                        <rect id="LIGHT-2" data-name="LIGHT" width="206" height="55" rx="27.5" transform="translate(21 21)" fill="#f29104"/>
                      </g>
                      <g transform="matrix(1, 0, 0, 1, -18, -21)" filter="url(#DARK)">
                        <rect id="DARK-2" data-name="DARK" width="206" height="55" rx="27.5" transform="translate(18 21)" fill="#f29104"/>
                      </g>
                    </g>
                    <text id="go_to_home_page" data-name="go to home page" transform="translate(18 34)" fill="#fff" font-size="20" font-family="Poppins-Medium, Poppins" font-weight="500"><tspan x="0" y="0">go to home page</tspan></text>
                  </g>
                </svg> 
              </a>
              </button>
              </div>

            


</body>
