
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */