body {
    font-family: 'Courier Prime', monospace;
}

.container {
    padding: 40px; 
    max-width: 800px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

#chuck {
    height: 50vh; 
    width: 40vw; 
    margin-bottom: 40px; 
}

div h1 {
    text-shadow: 5px 5px red; 
    
}
