@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  background-color: red;
  padding: 15px 15px 25px;
  margin: 15px;
  border-radius: 18px;
  flex: 1;
}

main {
  display: flex;
  padding: 15px 15px 25px;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: left;
  text-align: center;
}


// Lista rzeczy do zabrania
section {
  display: flex;
  flex-flow: column wrap;
  flex: 5 200px;
  margin-right: 5px;
  border-radius: 18px;
  background-image: url('/src/img/tlo-item.jpg');
  background-size: cover;
  background-position: top center;
  align-items: center;
  justify-content: space-around;
}

.title-section{
  margin: 15px;
  color: #FFF;
  font-size: 38px;
  font-weight: 400;
  text-shadow: 0px 4px #262626;
  align-items: center;

}
.form-control {
  border-radius: 18px;
  margin: 15px 10px 15px 10px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #404040;
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s ease-out;
}

.form-control:focus {
  background-color: rgba(256, 255, 255, 0.6);
}
.item-list {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #404040;
  padding: 5px;
}

ul#items input[type="text"] {
  border: 0;
  background: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

.btn {
  border-radius: 18px;
  background-color: red;
  color: #313131;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
}



// Pogodynka
aside {
  flex: 2 200px;
  background-image: url('/src/img/tlo-pogoda.jpg');
  background-size: cover;
  background-position: top center;
  margin-left: 5px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 18px;
}

aside .search-box{
  border-radius: 18px;
  margin: 15px 10px 15px 10px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid #404040;
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s ease-out;
  
  }

aside .search-box:focus {
  background-color: rgba(256, 255, 255, 0.6);
  }
  

aside .today{
  flex: 2 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  text-shadow: 0px 4px #262626;
  
}

aside .current{
  margin: 15px;
  }

aside .next-day{
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0px 4px #262626;
}

aside .icon-weather {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 5px;
  min-width: 150px;
}

aside .day {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 10px;
  min-width: 200px;
}


.location .city {
  color: #FFF;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 25px;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px #262626;
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px #262626;
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px #262626;
}



