html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


$bgColor: #e9e7dc;
$txtColor: rgb(71, 51, 51);
$fontFamily: 'Arial';

body {
    background-color: $bgColor;
}

#app {
    h1 {
        color: $txtColor;
        font-family: $fontFamily;
    }

    p {
        color: $txtColor;
    }

    ul {
        font-family: $fontFamily;
    }
}