@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 26px;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  margin: 45px auto;
}

ul {
  padding: 20px;
}
li {
  line-height: 35px;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  padding: 30px;
  min-height: calc(100vh - 356px);
}

nav {
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

nav a.navbar-brand {
  padding: 0 15px;
}
nav a.navbar-brand:hover {
  text-decoration: underline;
}

footer {
  background-color: #f8f9fa;
  border-radius: 15px 15px 0 0;
}

footer div {
  display: flex;
  align-content: center;
  align-items: center;
}

.button-wrapper {
  margin-top: 30px;
}

.hidden {
  display: none;
}

.todo-list-wrapper {
  padding-bottom: 25px;
}

.video-item {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
}
.video-item h2 {
  width: 100%;
  justify-content: center;
  font-size: 30px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}
.video-content {
  display: flex;
  flex-wrap: nowrap;
}
.video-contnent div {
  display: flex;
  flex: 1 1 auto;
}
.video-content p {
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-right: 25px;
  text-align: justify;
}
